<form class="row g-3 mt-3">
    <div class="col-md-12">
        <h1>Cadastrar Bancos</h1>
      </div>
      <div class="col-md-10">
        <label for="inputBanco" class="form-label">Nome do Banco</label>
        <input type="text" class="form-control" id="inputBanco">
      </div>
      <div class="col-md-2">
        <label for="inputCodigoBanco" class="form-label">Código do banco</label>
        <input type="number" class="form-control" id="inputCodigoBanco">
      </div>
    <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-secondary float-start">Cancelar</button>
        <button type="button" class="btn btn-primary float-end">Salvar</button>
    </div>
  </form>