<hr>
<div class="py-8 py-lg-16 bg-light-gradient-top ">
    <div class="container">
      <div class="row mb-8 justify-content-center">
         <!-- caption -->
        <div class="col-lg-8 col-md-12 col-12 text-center">
            <h2 class="mb-2 display-4 fw-bold">Procurando algo mais tecnológico?</h2>
          <p class="lead">Geeks, Professores e Experts também se inscreveram nos cursos de tecnologia.</p>
        </div>
      </div>
 <!-- row -->
      <div class="row mb-5">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="../../../assets/images/course/course-wordpress.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
             <h3 class="mb-0 fw-semi-bold">Wordpress Pro</h3>
              <p class="mb-3">Construindo lojas virtuais</p>
              <div class="lh-1  d-flex justify-content-between">
                <div><span class="fs-6 text-muted"><span class="text-dark">Próximas turmas:</span> 06/09/2021</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="../../../assets/images/course/course-css.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
              <h3 class="mb-0 fw-semi-bold">CSS3 Pro</h3>
              <p class="mb-3">Bootcamp - 8 Projetos</p>
              <div class="lh-1  d-flex justify-content-between">
                <div><span class="fs-6 text-muted"><span class="text-dark">Próximas turmas:</span> 06/09/2021</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="../../../assets/images/course/course-angular.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
              <h3 class="mb-0 fw-semi-bold">Angular Pro</h3>
              <p class="mb-3">Bootcamp - Consumir uma API</p>
              <div class="lh-1  d-flex justify-content-between">
                <div><span class="fs-6 text-muted"><span class="text-dark">Próximas turmas:</span> 06/09/2021</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 d-lg-none d-xl-block">
           <!-- card -->
          <div class="card mb-4 card-hover">
             <!-- img -->
            <div class="card-img-top">
              <img src="../../../assets/images/course/course-javascript.jpg" alt="" class="rounded-top-md img-fluid">
            </div>
             <!-- card body -->
            <div class="card-body">
              <h3 class="mb-0 fw-semi-bold">JavaScript Full</h3>
              <p class="mb-3">Treinamento FullStack</p>
              <div class="lh-1  d-flex justify-content-between">
                <div><span class="fs-6 text-muted"><span class="text-dark">Próximas turmas:</span> 06/09/2021</span></div>
              </div>
            </div>
          </div>
        </div>
         <!-- btn -->
        <div class="col-md-12 mt-3 text-center">
          <a href="#" class="btn btn-dark"><i class="fa fa-heart"></i> Participe do projeto</a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-lg-16 py-8">
    <div class="container">
      <!-- row -->
    <div class="row mb-6 justify-content-center">
        <!-- caption -->
      <div class="col-lg-8 col-md-12 col-12 text-center">
        <span class="text-primary mb-3 d-block text-uppercase fw-semi-bold ls-xl">Veja quem nos apoia</span>

      </div>
    </div>
      <!-- row -->
    <div class="row">
        <!-- logo -->
      <div class="col-lg-2 col-md-4 col-6">
        <div class="mb-4 text-center align-middle">
          <img src="../../../assets/images/sponsors/gray-logo-stripe.svg" alt="">
        </div>
      </div>
        <!-- logo -->
      <div class="col-lg-2 col-md-4 col-6">
        <div class="mb-4 text-center">
          <img src="../../../assets/images/sponsors/gray-logo-airbnb.svg" alt="">
        </div>
      </div>
        <!-- logo -->
      <div class="col-lg-2 col-md-4 col-6">
        <div class="mb-4 text-center">
          <img src="../../../assets/images/sponsors/gray-logo-pinterest.svg" alt="">
        </div>
      </div>
        <!-- logo -->
      <div class="col-lg-2 col-md-4 col-6">
        <div class="mb-4 text-center">
          <img src="../../../assets/images/sponsors/gray-logo-discord.svg" alt="">
        </div>
      </div>
        <!-- logo -->
      <div class="col-lg-2 col-md-4 col-6">
        <div class="mb-4 text-center">
          <img src="../../../assets/images/sponsors/gray-logo-intercom.svg" alt="">
        </div>
      </div>
        <!-- logo -->
      <div class="col-lg-2 col-md-4 col-6">
        <div class="mb-4 text-center">
          <img src="../../../assets/images/sponsors/gray-logo-netflix.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="pt-lg-10 pt-5 footer bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
              <!-- about company -->
          <div class="mb-4">
            <img src="../../../assets/images/brand/logo/logo-footer.jpg" alt="">
            <div class="mt-4">
              <p>
                  Nós começamos como um pequeno negócio de sublimação e agora somos um centro de treinamento que oferece cursos gratuitos para pessoas em condição de vulnerabilidade social.
              </p>
                 <!-- social media -->
              <div class="fs-4 mt-4">
                <a href="#" class="mdi mdi-facebook text-muted me-2"></a>
                <a href="#" class="mdi mdi-twitter text-muted me-2"></a>
                <a href="#" class="mdi mdi-instagram text-muted "></a>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-3 col-6">
          <div class="mb-4">
                <!-- list -->
            <h3 class="fw-bold mb-3">Nossos Links</h3>
            <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                <li><a href="#"><i class="fab fa-whatsapp"></i> (81) 9.8368 - 5789</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Curta no Instagram</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i> Inscrefa-se no Youtube</a></li>
                <li><a href="#"><i class="fab fa-facebook"></i> Compartilhe no Facebook</a></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
              <!-- contact info -->
          <div class="mb-4">
            <h3 class="fw-bold mb-3">Entre em contato</h3>
            <p>Rua Oitenta e Quatro, 110, Maranguape I - Paulista/PE</p>
            <p>CEP: 53441-300</p>
            <a href="#" class=""><i class="fa fa-envelope-open"></i> web@estampageek.com.br</a>
          </div>
        </div>
      </div>
      <div class="row align-items-center g-0 border-top fix-bootom py-2 mt-8 fixed-bottom bg-light p-3 l-3">
        <!-- Desc -->
        <div class="col-lg-6 col-md-5 col-12">
            <span>© 2021 Estampa Geek - Feito com <i class="fa fa-heart text-danger"></i> por <a target="_blank" href="https://fb.me/reltonfidelis.pro">Relton Fidelis</a></span>
            </div>

          <!-- Links -->
        <div class="col-12 col-md-7 col-lg-6 d-md-flex justify-content-end">
            <nav class="nav nav-footer">
                <a class="ps-0" href="#">Plítica de Privacidaade</a>
                <a class="px-2 px-md-3" href="#">LGPD</a>
                <a href="#">Terms of Use</a>
            </nav>
        </div>
    </div>
    </div>
  </div>