<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col">
      <div class="card">
        <img src="../../assets/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sou Operador</h5>
          <p class="card-text">Use esse perfil para acessar o preencher, enviar e acompanhar o status das propostas.</p>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLoginOperador">Acessar Módulo Operador</button>
          <!-- Button trigger modal LoginOperador -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/loja.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sou Loja Parceira</h5>
          <p class="card-text">Use esse perfil para gerenciar acessos dos operadores e outras funções administrativas.</p>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLoginLojista">Acessar Módulo Lojista</button>
          <!-- Button trigger modal LoginLojista -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/gerente.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sou Gerente Regional</h5>
          <p class="card-text">Use esse perfil para acompanhar o desempenho das filiais e gerar relatórios.</p>
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalLoginGerenteRegional">Acessar Módulo Gestor</button>
          <!-- Button trigger modal LoginOperador -->
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-login-modal-popups></app-login-modal-popups>
  </div>
  