<form class="row g-3 mt-3">
    <div class="col-md-12">
        <h1>Dados do Operador</h1>
      </div>
      <div class="col-md-6">
        <label for="inputEmailOperador" class="form-label">Email do Operador</label>
        <input type="text" class="form-control" id="inputEmailOperador" placeholder="Ex: nome.sobrenome@empresa.com.br">
      </div>
      <div class="col-md-6">
        <label for="inputConfirmaEmailOperador" class="form-label">Confirme o Email do Operador</label>
        <input type="text" class="form-control" id="inputConfirmaEmailOperador" placeholder="Ex: nome.sobrenome@empresa.com.br">
      </div>
      <div class="col-md-6">
          <label for="inputSenhaOperador" class="form-label">Senha de Login</label>
        <input type="password" class="form-control" id="inputSenhaOperador">
      </div>
      <div class="col-md-6">
          <label for="inputConfirmaSenhaOperador" class="form-label">Confirme a Senha de Login</label>
        <input type="password" class="form-control" id="inputConfirmaSenhaOperador">
      </div>
    <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-secondary float-start">Cancelar</button>
        <button type="button" class="btn btn-primary float-end">Salvar</button>
    </div>
  </form>