<form class="row g-3 mt-3">
    <div class="col-md-12">
      <h1>Cadastro de Produtos Financeiros</h1>
    </div>
    <div class="col-md-12">
        <label for="inputNomeProduto" class="form-label">Nome do Produto</label>
        <input type="text" class="form-control" id="inputNomeProduto">
    </div>
    <div class="col-md-12">
        <label for="texteareaDescricaoProduto" class="form-label">Descrição do Produto</label>
        <textarea class="form-control" id="texteareaDescricaoProduto" rows="3"></textarea>
    </div>
    <div class="col-md-12 mb-5">
        <button type="button" class="btn btn-secondary float-start">Voltar</button>
        <button type="button" class="btn btn-primary float-end">Avançar</button>
    </div>
</form>