<div class="mt-5">
    <div class="container mt-lg-5">
        <!-- Hero Section -->
        <div class="row align-items-center g-0">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class=" display-4 fw-bol mt-lg-5">Que bom ver você! Partiu estudar?
                    </h1>
                    <p class="mb-4 lead">
                        Aprenda de forma simples como iniciar um negócio de personalizados. Você pode ter uma loja física, vender na internet ou ambos.
                    </p>
                    <a href="pages/sign-in.html" class="btn btn-dark p-3"><i class="fab fa-google-play"></i> Baixe o App na PlayStore</a>
                </div>
            </div>
            <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-end text-center mt-lg-5">
                <img src="assets/images/hero/hero-img.png" alt="" class="img-fluid mt-5">
            </div>
        </div>
    </div>
</div>
<!--nos-escolher-->
<div class="bg-white py-4 shadow-sm">
    <div class="container">
        <div class="row align-items-center g-0">
            <!-- Features -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="text-center"> <i class="fas fa-money-bill-wave fa-2x"> </i></span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Cursos Presencial</h4>
                        <p class="mb-0">Vá do zero ao expert gratuitamente!</p>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="text-center"> <i class="fas fa-store fa-2x"></i></span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Loja Virtual</h4>
                        <p class="mb-0">Venda sua produção online.</p>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="d-flex align-items-center">
                    <span class="text-center"> <i class="fas fa-chart-line fa-2x"></i></span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Gestão & Marketing</h4>
                        <p class="mb-0">Use ferramentas profissionais para crescer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Inicio Cards-->
<div class="mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-informatica-basica.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Windows e Impressoras</h5>
                <hr>
                <p class="card-text">
                    Nesse módulo o aluno aprende noções básicas de informática, instalar e configurar impressoras.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>4h 20m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-1.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@a.belo</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-illustrator.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desenho Vetorial</h5>
                <hr>
                <p class="card-text">
                    Aqui o aluno aprenderá a vetorizar imagens de forma a melhorar a qualidade na hora da impressão.    
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-2.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@r.fidelis</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-photoshop.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tratamento de Imagens</h5>
                <hr>
                <p class="card-text">
                    Entenda a importância do tratamento de imagens antes da impressão para evitar problemas na estampa.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-3.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@j.santos</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-papeis-tamanhos-gramaturas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Propiedades dos Papéis</h5>
                <hr>
                <p class="card-text">
                    Descubra os mais variados tipos de papéis, o padrão iternacional de tamanho, acabamento e gramatruas.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-4.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@r.lima</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-corte-costura.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tecidos, Corte e Costura.</h5>
                <hr>
                <p class="card-text">
                    Aprenda quais os tipos de tecidos mais usados na sublimação, crie almofadas e outras peças.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-5.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@f.lux</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-cores-tipos-tinta.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tipos de tinta</h5>
                <hr>
                <p class="card-text">
                    Entenda a diferença entre tinta sublimática, corante, pigmentada e saiba onde usar cada uma delas.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-6.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@f.ferreira</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-sublimacao-prensa.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sublimação 8 em 1</h5>
                <hr>
                <p class="card-text">
                    Conheça um mundo de possibilidades a inda pouco explorado e aprenda a definir seu nicho de mercado.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-7.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@l.idelis</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="./../../../assets/images/course/course-gestao-marketing-e-commerce.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gestão de Loja Virtual</h5>
                <hr>
                <p class="card-text">
                    Utilize ferramentas profissionais para criar sua loja online e administrar campanhas de marketing.
                </p>
                <ul class="mb-3 list-inline">
                  <li class="list-inline-item"><i class="far fa-clock me-1"></i>2h 46m</li>
                  <li class="list-inline-item">
                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                      <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                      <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                      </svg> Básico
                  </li>
              </ul>
              <div class="lh-1">
                  <span>
                      <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                  </span>
                  <span class="text-warning">4.5</span>
                  <span class="fs-6 text-muted">(9,300)</span>
              </div>
              </div>
              <div class="card-footer">
                  <div class="row align-items-center g-0">
                      <div class="col-auto">
                          <img src="assets/images/avatar/avatar-10.jpg" class="rounded-circle avatar-xs" alt="">
                      </div>
                      <div class="col ms-2">
                          <span>@f.rian</span>
                      </div>
                      <div class="col-auto">
                          <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                              Inscreva-se
                              
                          </button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
</div>

