<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm mb-4 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/brand/logo/logo-top.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/proposta']"> Quero Aprender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/proposta']"> Quero Ensinar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>